body {
  margin: 0;
  padding: 0;
  top:0 !important;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important;
  display: inline-block; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
}
.sp{
  padding-top: 80px;
  padding-bottom: 80px;
}
h1{
  font-size: 50px;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}
h1 span{
  color: #00c1d5;
}
p {
	font-size: 16px;
	font-weight: 400;
	color: #FFF;
}
p strong {
	color: #101820;
	font-size: 18px;
	padding-bottom: 8px;
	display: inline-block;
}
.bg_white{
  background-color: white;
}
.pt_0{
  padding-top: 0px;
}
.pb_0{
  padding-bottom: 0px;
}
.small_button a {
	font-family: Muli;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
	background-color: #00c1d5;
	padding: 8px 27px;
	border-color: #00c1d5;
	margin-top: 15px !important;
	transition: 0.5s;
	display: inline-block;
}
.small_button a:hover{
	background-color: #101820;
}
#page-top {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

/* Menu page Area  */
.full_body_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: flex-end;;
	-ms-flex-pack: flex-end;;
	justify-content: flex-end;
	overflow: hidden;
}
.left_site_menu_area {
	width: 170px;
	overflow: hidden;
	height: 100vh;
	background: #082149;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
.right_body_content {
	width: calc(100% - 170px);
	height: 100%;
	background: #FCFBFE;
}
.common_top_header {
	background: url('../images/banner/banner-1.png') no-repeat 0 0 / cover;
	position: fixed;
	width: calc(100% - 170px);
  height: 119px;
  z-index: 1010;
}
.top_title h1 {
	text-align: right;
	padding: 26px 0px;
	margin-top: 7px;
}
.main_body_content {
	margin-top: 118px;
	background: #000000;
}
.logo a {
	text-align: center;
	box-shadow: 0px 0px 6px 1px #0d0d0d;
	height: 119px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo a img {
	height: 81px;
	text-align: center;
}
.main_menu {
	margin-top: 60px;
}
.main_menu ul li a {
	color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	padding: 11px 18px;
	margin-bottom: 14px;
	width: 100%;
	transition: 0.5s;
}
.main_menu ul li a:hover{
  background: #051630;
  color: #E5AB40;
}
.menu_active{
  background: #051630;
  color: #E5AB40 !important;
}
.title h2 {
	font-size: 25px;
	color: #FFF;
	font-weight: 700;
	margin-bottom: 40px;
	letter-spacing: 1px;
	display: inline-block;
}
.price_title_top {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 15px;
}
.p_price strong{
	color: #ffffff;
}
.price_title h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: normal;
	color: #FFF;
	display: inline-block;
	position: relative;
}
/* .price_title h3::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #FFF;
	bottom: 13px;
	right: 0;
}
.price_title h3::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #FFF;
	bottom: 6px;
	right: 0;
} */
.price_title strong {
	color: #ffffff;
	font-size: 17px;
	display: block;
	overflow: hidden;
	line-height: 22px;
}
.item_block_price p {
	width: 90%;
}
.item_block_price {
	margin-bottom: 50px;
}
.item_price_with_image_block_area {
	position: relative;
	margin-bottom: 160px;
}
.item_price_with_image_block {
	background: #E8E0D9;
	border-radius: 15px;
	padding: 36px 30px 136px 30px;
}
.item_price_with_image_block p {
	color: #051630;
}
.item_price_with_image_block .price_title h3 {
	color: #051630;
}
.item_price_with_image_block .p_price strong {
	color: #051630;
}
.food_image {
	position: absolute;
	top: 150px;
	right: 30px;
}
.food_image img {
	width: 100%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}